@page
@model EventHorizon.Pages.AttendeePages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Attendee</h4>
<hr />

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">@Model.Message</div>

}
<div class="row">
    <div class="col-md-4">
        <form asp-page="Register" method="post">
            <div class="form-group">
                @* asp-for, taghelper för modelbinding. asp-for avgör också TYPEN av input baserat på
                    typen Attendee.Name har.
                *@
                <label asp-for="Attendee.Name"></label>
                <input asp-for="Attendee.Name" class="form-control" />
                <span asp-validation-for="Attendee.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendee.Email">Epost</label>
                <input asp-for="Attendee.Email" class="form-control" />
                <span asp-validation-for="Attendee.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendee.Phone">Telefon</label>
                <input asp-for="Attendee.Phone" class="form-control" />
                <span asp-validation-for="Attendee.Phone"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register"/>
            </div>
        </form>
    </div>
</div>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
